<!DOCTYPE html>
<html lang="en">
  <head>
    <title>J.Carias - Home</title>
    <module href="/components/head.html"></module>
  </head>
  <body>
    <module href="/components/menu.html"></module>

    <section class="main-hero">
      <div class="overlay">
        <div class="container">
          <h1>Welcome</h1>
          <p>...to my Website</p>
        </div>
      </div>
    </section>

    <section class="intro">
      <div class="container">
        <h1 class="main-heading">About this Website</h1>
        <p>
          I’m a professional front-end developer and, for most of my career,
          this has not been the case. The path I’ve taken has had many
          challenges and all of them had some degree of impact in my journey to
          become a good developer and a mature professional.
        </p>
        <p>
          The purpose of this site is to let people
          <a href="/about-me.html" class="text-link">know me</a>, my
          professional career and personal interests.
        </p>
        <p></p>
      </div>
    </section>

    <section class="latest-articles">
      <div class="container">
        <h1 class="secondary-heading">Latest Articles</h1>
        <div class="article-list">
          <div class="article">
            <img src="images/chris-ried-ieic5Tq8YMk-unsplash.jpg" alt="" />
            <h2 class="tertiary-heading">Clean Code</h2>
            <p class="caption-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Excepturi, accusamus!
            </p>
            <a href="">Read more...</a>
          </div>
          <div class="article">
            <img src="images/chris-ried-ieic5Tq8YMk-unsplash.jpg" alt="" />
            <h2 class="tertiary-heading">
              Are Containers the Next Best Thing for Development?
            </h2>
            <p class="caption-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Excepturi, accusamus!
            </p>
            <a href="">Read more...</a>
          </div>
          <div class="article">
            <img src="images/chris-ried-ieic5Tq8YMk-unsplash.jpg" alt="" />
            <h2 class="tertiary-heading">
              Are Containers the Next Best Thing for Development?
            </h2>
            <p class="caption-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Excepturi, accusamus!
            </p>
            <a href="">Read more...</a>
          </div>
        </div>
      </div>
    </section>

    <script src="./bundle.js"></script>
  </body>
</html>
