$headings-clr: #2873b5;
$text-primary-clr: #393a41;
$text-secondary-clr: #888996;
$links-clr: #30b48c;

$hero-fnt: "Advent Pro", sans-serif;
$default-fnt: "Bitter", serif;
$heading-fnt: "Dosis", sans-serif;
