section.main-hero {
  background-image: url("images/diego-jimenez-A-NVHPka9Rk-unsplash.jpg");
  background-position: center;
  background-size: cover;

  .overlay {
    background: transparent linear-gradient(180deg, #2873b580 0%, #3adeac 100%)
      0% 0% no-repeat padding-box;

    .container {
      min-height: 50vh;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      padding: 5em;
      color: white;
      font-family: $hero-fnt;

      h1 {
        font-size: 4.75rem;
        font-weight: 300;
        line-height: 1.25em;
      }
      p {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.25em;
      }
    }
  }
}
