section.main-menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  ul {
    padding: 1em;
    list-style: none;
    display: flex;
    color: white;
    * + * {
      margin-left: 1em;
    }
  }
}
